name: Deploy Lambda

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-east-1

      - name: Zip function
        run: zip -r function.zip .

      - name: Debug zip structure
        run: unzip -l function.zip

      - name: Deploy to Lambda
        run: |
          aws lambda update-function-code \
            --function-name shopify-oauth \
            --zip-file fileb://function.zip
